@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Righteous&display=swap");
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
$text: #fff;

* {
    background-color: black;
}

@font-face {
    font-family: "Cera Round Pro";
    src: url("../../assets/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf") format("truetype");
    /* Add additional src declarations for other font styles (e.g., bold, italic) if available */
}

input {
    position: absolute;
    left: -9999px;
}

.color {
    color: #cb6ce6 !important;
}

.starwars {
    position: relative;
    user-select: none;
    width: 100vw;
    height: 100vh;
    // left: 10%;
    padding-left: 10rem;

    .content {
        display: flex;

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 65%;
        }

        .right {
            flex: 1 1 35%;
        }
    }

    .timeline {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 30%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-line {
            position: absolute;
            top: 50%;
            margin-top: -1px;
            width: 100%;
            height: 2px;
            background: #827B68;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                width: 0%;
                height: 100%;
                background: $text;
                transition: 350ms ease all;
            }
        }

        &-dot {
            position: relative;
            z-index: 1;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: 2px solid #827B68;
            background: $text;
            transition: 350ms ease all;
        }
    }

    .films-info {
        position: relative;
    }

    .film-info {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        transform: translate(50px);
        opacity: 0;
        transition: 350ms ease all;

        .title {
            font-size: 60px;
            font-weight: 600;
            color: #cb6ce6;
            font-family: "Cera Round Pro";
            src: url("../../assets/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf") format("truetype");
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .description {
            font-size: 20px;
            line-height: 2;
            font-family: 'Apple Chancery', 'acme', cursive;
            color: rgb(181, 181, 181);
            letter-spacing: 2.5px;
        }
    }

    .films-image {
        position: relative;
        overflow: hidden;
        width: 32vw;
        height: 95vh;
    }

    .films-image-wrapper {
        position: absolute;
        width: 500%;
        height: 100%;
        left: 0;
        display: flex;
        transition: 350ms ease all;
    }

    .film-image {
        position: relative;
        height: 100%;
        flex: 1 1 20%;
        width: 20%;
        background-size: 130%;

        &:nth-child(1) {
            background-size: 41%;
            background-position: 22% 43%;
        }

        &:nth-child(2) {
            background-size: 175%;
            background-position: 80% 0%;
        }

        &:nth-child(5) {
            background-size: 110%;
            background-position: 32% 65%;
            margin-left: 1rem;
        }
    }

    .arrow {
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 1.4rem;
        height: 2.18rem;

        &.right {
            left: 13.4%;
        }

        label {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }

    .films-date {
        position: absolute;
        bottom: 20%;
        left: 10%;
        color: #cb6ce6;
    }

    .film-date {
        position: absolute;
        bottom: 0;
        left: 0;
        font-family: The Seasons;
        font-size: 150px;
        transition: 350ms ease all;

        &.d {
            left: 9rem;
        }

        &.a {
            left: 13rem;
        }

        &:not(.fixed) {
            transform: translate(50px);
            opacity: 0;
        }
    }

    @for $i from 1 to 6 {
        #input-#{$i} {
            &:checked {

                //*******************
                //*******************
                //*******************
                //GESTION DES INFOS
                //*******************
                //*******************
                //*******************
                ~.content {
                    .film-info {
                        &:nth-child(#{$i}) {
                            opacity: 1;
                            transform: translate(0);
                        }
                    }

                    .film-date {

                        &.d,
                        &.a {
                            &-#{$i} {
                                opacity: 1;
                                transform: translate(0);
                            }
                        }
                    }

                    .films-image-wrapper {
                        transform: translate(($i - 1) * 20% * -1);
                    }

                    .timeline-dot {
                        &:nth-child(#{$i}) {
                            ~.timeline-dot {
                                background: #827B68;
                            }
                        }
                    }

                    .timeline-line {
                        &:before {
                            width: ($i - 1) * 25%;
                        }
                    }
                }

                //*******************
                //*******************
                //*******************
                //GESTION DES FLECHES
                //*******************
                //*******************
                //*******************
                ~.arrow.right {
                    label {
                        &:nth-child(#{$i}) {
                            +label {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }
                }

                ~.arrow.left {
                    label {
                        &:nth-child(#{$i - 1}) {
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }

                &:nth-child(5) {
                    ~.arrow.right {
                        label {
                            &:last-child {
                                opacity: 0.5;
                                pointer-events: none;
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    ~.arrow.left {
                        label {
                            &:first-child {
                                opacity: 0.5;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            &:not(:checked) {
                ~.left:hover {
                    ~.content {
                        .film-info {
                            &:nth-child(#{$i}) {
                                right: 150px;
                            }
                        }

                        .film-date {
                            &[class*="-#{$i}"] {
                                right: 150px;
                            }
                        }
                    }
                }
            }
        }
    }


}

span {
    background-color: transparent;
}

.transparent {
    background-color: transparent;
}

.code {
    font-family: 'Cascadia Code';
    color: rgb(88, 146, 246);
}

.image-container {
    background-image: url(../../assets/coding.png);
    background-repeat: no-repeat;
    background-size: 60vw 62vh;
    position: relative;
    height: 62vh;
    width: 60vw;
    top: 5%;
    left: 20%;
    z-index: 1;
}