<div class="row">
    <section id="contact" class="d-flex align-items-center">
        <div class="ml-5" style="margin-left:10rem;">
            <h1 class="section-header m-3">Contact me</h1>
            <div class="contact-wrapper">
                <!-- Left contact page -->
                <form action="https://formspree.io/f/mpzebzoa" method="POST" id="contact-form" name="contact-form">
                    <div class="form-group mt-3">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value=""
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email"
                                value="" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="SUBJECT" name="sub" value=""
                                required>
                        </div>
                    </div>
                    <textarea class="form-control mt-3" rows="10" placeholder="MESSAGE" name="message"
                        required></textarea>
                    <div class="d-flex justify-content-end float-right">
                        <input type="button" class="send px-4 mt-3 " (click)="onSubmit()" value="Send message!">
                    </div>


                </form>
            </div>

        </div>

    </section>

    <div id="map"></div>
</div>

<div class="inf-map show">
    Mounika Varshini,<br>
    8500216780,<br>
    Nizampet,Hyderabad
    <br><br><span><span>@</span>: sreemounikavarshini@gmail.com</span>
    <hr>
    <div _ngcontent-akl-c6="" class="">
        <ul class="social-links d-flex justify-content-between p-0"
            style="list-style: none; font-size: large; cursor: pointer;">
            <li class="list-unstyled "><a href="https://github.com/mounika-varshini"><i class="fa fa-github"></i></a>
            </li>
            <li class="list-unstyled "><a href="https://www.linkedin.com/in/mounika-varshini/"><i
                        class="fa fa-linkedin"></i></a> </li>
            <li class="list-unstyled "><a href="https://leetcode.com/mounika_varshini/"><span
                        class="iconify leetcode links" data-icon="simple-icons:leetcode" data-inline="false"></span></a>
            </li>
            <li class="list-unstyled "><a href="https://www.codechef.com/users/mounika_varshi"><span
                        class="iconify codechef links" data-icon="simple-icons:codechef" data-inline="false"></span></a>
            </li>
            <li class="list-unstyled "><a href="https://www.hackerrank.com/sreemounikavars1?hr_r=1"
                    style="background-color: transparent;"><img src="../../assets/hackerrank.png"></a> </li>
        </ul>
        <!-- <ul>
            <li class="social-links">
                <a href="https://github.com/mounika-varshini"><i class="fa fa-github"></i></a>
            </li>
        </ul> -->
    </div>
</div>