<div class="container d-flex justify-content-between p-4">
    <div class="col-6 p-3">
        <h2 class="title">Experience</h2>
        <h4 class="designation">Product Developer - Inncircles</h4>
        <p class="experience">I led Angular frontend development, creating user-friendly web apps with responsive
            design. Collaborating
            with designers, I transformed wireframes into intuitive interfaces. Using Angular, HTML, CSS, and
            JavaScript, I developed modular components and integrated them with backend APIs. With MongoDB, I handled
            data retrieval and storage, performed CRUD operations, and conducted thorough testing for high-quality
            deliverables. I stayed updated with frontend trends, incorporating new technologies for improved development
            processes and enhanced user experiences.</p>
        <div class="col-6 content"></div>
    </div>
    <div class="col-6 p-3">
        <h2 class="title">Skills</h2>
        <div>
            <div class="html">
                <p class="bar-title">
                    HTML / HTML5 & CSS
                    <span class="percent align-right">90%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-html start"></div>
                </div>
            </div>
            <div class="angular">
                <p class="bar-title">
                    Angular
                    <span class="percent align-right">70%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-angular start"></div>
                </div>
            </div>
            <div class="bootstrap">
                <p class="bar-title">
                    Bootstrap
                    <span class="percent align-right">90%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-bootstrap start"></div>
                </div>
            </div>
            <div class="javascript">
                <p class="bar-title">
                    Javascript
                    <span class="percent align-right">85%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-javascript start"></div>
                </div>
            </div>
            <div class="typescript">
                <p class="bar-title">
                    Typescript
                    <span class="percent align-right">80%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-typescript start"></div>
                </div>
            </div>
            <div class="dsa">
                <p class="bar-title">
                    Data Structures and Algorithms
                    <span class="percent align-right">80%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-dsa start"></div>
                </div>
            </div>
            <div class="cpp">
                <p class="bar-title">
                    C++
                    <span class="percent align-right">80%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-cpp start"></div>
                </div>
            </div>
            <div class="node">
                <p class="bar-title">
                    Node
                    <span class="percent align-right">60%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-node start"></div>
                </div>
            </div>
            <div class="mongo">
                <p class="bar-title">
                    MongoDB
                    <span class="percent align-right">60%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-mongo start"></div>
                </div>
            </div>
            <div class="mongo">
                <p class="bar-title">
                    My SQL
                    <span class="percent align-right">60%</span>
                </p>
                <div class="bar">
                    <div class="bar-fill bar-fill-mongo start"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-end" style="align-items: flex-end;margin-top: 6rem;">
            <a href="../../assets/Mounika_VNRVJIET-18071A1205.pdf" download="sample">
                <button mat-button class="resume">Download Resume</button>
            </a>
        </div>
    </div>



</div>