<nav class="navbar navbar-expand-lg  sticky-top text-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
    </span>

  </button>
  <nav class="side-nav">
    <ul class="nav-menu" style="background-color: black;">
      <li class="p-3" style="margin-bottom: 9rem">
        <a class="" style="margin-bottom: 6rem;" routerLink="/home">
          <img style="height: 5rem;" src="../assets/MV.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-center" pagescroll routerLink="/about"
          routerLinkActive="active">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-center" pagescroll routerLink="/skills"
          routerLinkActive="active">SKILLS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-center" pagescroll routerLink="/projects"
          routerLinkActive="active">PROJECTS</a>
      </li>
      <li class="nav-item" style="border-bottom: 1px solid rgb(45, 44, 44) !important;">
        <a class="nav-link d-flex justify-content-center" pagescroll routerLink="/contact"
          routerLinkActive="active">CONTACT</a>
      </li>
      <li style="margin-top: 6rem;">
        <a href="../../assets/Mounika_VNRVJIET-18071A1205.pdf" download="MounikaVarshiniResume">
          <button mat-button class="resume">Download Resume</button>
        </a>
      </li>
    </ul>
  </nav>
  <div class="comp">
    <router-outlet></router-outlet>
  </div>
</nav>

<!-- <div id="home">
  <app-home></app-home>
</div> -->

<!-- <div id="about">
  <app-about></app-about>
</div>

<div id="skill">
  <app-skills></app-skills>
</div>

<div id="projects">
  <app-projects></app-projects>
</div>

<div id="contact">
  <app-contacts></app-contacts>
</div> -->