<div class="d-flex row justify-content-center align-items-center"
    style="height:100vh;width: 101vw; perspective: 250px !important;">
    <div class="bg-animation ">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="card col-md-8 mx-auto">
        <h1 class="hi d-flex">
            <span class="letter">H</span>
            <span class="letter">i</span>
            <span class="letter">,</span>
        </h1>
        <h1 class="name d-flex">
            <span class="letter">I</span>
            <span class="letter">'</span>
            <span class="letter me-4">m</span>
            <span class="letter" style="font-family: 'Cinzel Decorative';color: #cb6ce6;">M</span>
            <span class="letter">o</span>
            <span class="letter">u</span>
            <span class="letter">n</span>
            <span class="letter">i</span>
            <span class="letter">k</span>
            <span class="letter">a</span>
            <span style="font-family: 'The Seasons';">V</span>
            <span class="letter">a</span>
            <span class="letter">r</span>
            <span class="letter">s</span>
            <span class="letter">h</span>
            <span class="letter">i</span>
            <span class="letter">n</span>
            <span class="letter">i</span>
        </h1>
        <p class="designation">
            <span class="letter">F</span>
            <span class="letter">U</span>
            <span class="letter">L</span>
            <span class="letter me-2">L</span>
            <span class="letter">S</span>
            <span class="letter">T</span>
            <span class="letter">A</span>
            <span class="letter">C</span>
            <span class="letter me-2">K</span>
            <span class="letter">D</span>
            <span class="letter">E</span>
            <span class="letter">V</span>
            <span class="letter">E</span>
            <span class="letter">L</span>
            <span class="letter">O</span>
            <span class="letter">P</span>
            <span class="letter">E</span>
            <span class="letter">R</span>
        </p>
    </div>

</div>